@model UsersRolesUserVM
@{
    ViewData["Title"] = "Asignar Roles";
}

<h3>Asignar o remover roles al usuario: @Model.Email</h3>

<p>Roles:</p>

<form asp-action="EditRoles">
    <input type="hidden" asp-for="UserId"/>

    @foreach(var role in Model.Roles)
    {
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="RolesSelects" 
            value="@role.Name" id="@role.Name" @(role.IsCheck ? "checked" : "") />
            <label class="form-check-label" for="@role.Name">@role.Name</label>
        </div>
    }

    <button class="btn btn-primary mt-2">Guardar</button>
    <a asp-action="Listado" class="btn btn-secondary mt-2">Cancelar</a>
</form>